{{define "footer"}}
<footer>
  <p>
  <a href="https://github.com/rewardian/benfords-law"><img style="margin-right: 25px;" src="https://lph.pw/files/Octocat_GitHub_Mascot.png" />GitHub</a>
  </p>
</footer>
{{end}}
